<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isAuthenticated">
    <a class="navbar-brand" href="#">
        <fa-icon [icon]="faHome" size="lg"></fa-icon>
        {{ title }}
    </a>

    <!-- <a class="btn btn-outline-dark css-dropdown">
        <span class="navbar-toggler-icon"></span>
        <div class="css-dropdown-menu bg-white">
            <p><button class="dropdown-item" routerLink="/dashboard">Dashboard</button></p>
            <div class="dropdown-divider"></div>
            <p><button class="dropdown-item" routerLink="/viewevents">View Events</button></p>
            <div class="dropdown-divider"></div>
            <p><button class="dropdown-item" (click)="logout()">Logout</button></p>
        </div>
    </a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" href="#/dashboard">My Account <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/viewevents">View Events</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Settings</a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

    <!-- <button *ngIf="isAdmin" class="btn btn-outline-light admin-dropdown">
        <fa-icon [icon]="faCog" size="lg"></fa-icon>
        <div class="admin-dropdown-menu bg-white">
            <p><button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/ambassadors">Ambassadors</button></p>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/events">Events</button>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/locations">Locations</button>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/members">Members</button>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/memberships">Memberships</button>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/places">Places</button>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/surveys">Surveys</button>
            <div class="dropdown-divider"></div>
            <button (click)="isAdminCollapsed = !isAdminCollapsed;" class="dropdown-item" routerLink="/users">Users</button>
        </div>
    </button> -->
</nav>