<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isAuthenticated">
    <a class="navbar-brand" href="#">
        <fa-icon [icon]="faHome" size="lg"></fa-icon>
        {{ title }}
    </a>

    <!-- <a class="btn btn-outline-dark css-dropdown">
        <span class="navbar-toggler-icon"></span>
        <div class="css-dropdown-menu bg-white">
            <p><button class="dropdown-item" routerLink="/dashboard">Dashboard</button></p>
            <div class="dropdown-divider"></div>
            <p><button class="dropdown-item" routerLink="/viewevents">View Events</button></p>
            <div class="dropdown-divider"></div>
            <p><button class="dropdown-item" (click)="logout()">Logout</button></p>
        </div>
    </a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">My Account <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewevents">View Events</a>
            </li>
            <li class="nav-item dropdown" *ngIf="isAdmin">
                <div ngbDropdown class="d-inline-block">
                    <a class="nav-link" id="manageDropdown" ngbDropdownToggle>
                        <fa-icon [icon]="faCog" size="lg"></fa-icon>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="manageDropdown">
                        <button ngbDropdownItem routerLink="/ambassadors">Ambassadors</button>
                        <button ngbDropdownItem routerLink="/events">Events</button>
                        <button ngbDropdownItem routerLink="/locations">Locations</button>
                        <button ngbDropdownItem routerLink="/members">Members</button>
                        <button ngbDropdownItem routerLink="/memberships">Memeberships</button>
                        <button ngbDropdownItem routerLink="/places">Places</button>
                        <button ngbDropdownItem routerLink="/surveys">Surveys</button>
                        <button ngbDropdownItem routerLink="/users">Users</button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="d-flex">
            <fa-icon class="nav-link" [icon]="faLock" size="lg" (click)="logout()"></fa-icon>
        </div>
    </div>
</nav>