<div class="container">
    <div class="row justify-content-lg-center">
        <div>
            <h3>About The Secret Society</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <p>Based in Los Angeles, the Secret Society is a group of taste makers and lifestyle purveyors from across America who have converged to provide first-class residents of each major city a safe haven to escape the drudgery of a mundane social
                life. It's our mission to provide a choice selection of individuals with an exclusive and upscale environment to relax, network, mix and mingle. We have sought out the cities top power brokers, trendsetters, professionals, socially progressive
                and artistically inclined to join our preferential network. All we ask of our patrons is trust.</p>
            <ul class="about">
                <li>
                    <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - TRUST THAT: Your identity will be protected.</li>
                <li>
                    <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - TRUST THAT: You will find our events to be thrilling.</li>
                <li>
                    <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - TRUST THAT: You will meet interesting people from all walks of life and backgrounds.</li>
                <li>
                    <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - TRUST THAT: You will be assured that our events will be safe and exclusive.</li>
            </ul>
        </div>
    </div>
</div>