<div class="container-fluid">
    <div class="row">
        <h3>List of Events</h3>
    </div>

    <div class="row listevents">
        <div class="col-sm-12 col-lg-3" *ngFor="let event of events">
            <figure class="figure mt-3">
                <img [src]="img_path + event?.url" [alt]="event?.name" class="figure-img img-fluid rounded" (click)="open(contentEvent, event)" onerror="this.src='https://placeimg.com/640/480/people'">
                <figcaption class="figure-caption">{{ event?.name }}</figcaption>
            </figure>
        </div>
    </div>
</div>

<ng-template #contentEvent let-modal>
    <div class="modal-header">
        <h4 class="modal-title mt-3 mb-4">{{ viewevent?.name }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img [src]="img_path + viewevent?.url" [alt]="viewevent?.name" onerror="this.src='https://placeimg.com/640/480/people'">
        <h4 class="mt-3">{{ viewevent?.name }}</h4>
        <div class="row pt-3">
            <div class="col start"><strong><u>Event Date</u></strong><br/> <small>{{ viewevent?.event_date }}</small></div>
            <div class="col center"><strong><u>Event Times</u></strong><br/> <small>{{ viewevent?.start_time }} - {{ viewevent?.end_time }}</small></div>
            <div class="col end"><strong><u>Event Cost</u><br/></strong> <small>{{ viewevent?.cost | currency }}</small></div>
        </div>
        <div class="row">
            <div class="col pt-3">
                <strong><u>Event Description</u></strong>
                <p [innerHTML]="viewevent?.description"></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="(membership != 11 || firstevent) && !viewevent.going" type="button" class="btn btn-outline-dark btn-success" (click)="rsvp(viewevent)">RSVP</button>
        <button *ngIf="membership == 11 && !firstevent && !viewevent.going" type="button" class="btn btn-outline-success btn-success" (click)="openHandler(viewevent)">Purchase a Ticket</button>
        <button *ngIf="viewevent.going" type="button" class="btn btn-outline-success btn-success" (click)="modal.close()">Your are Going</button>
    </div>
</ng-template>