<div class="container-fluid">
    <div class="row">
        <h3>Ambassadors</h3>
    </div>
    <div class="row add-row">
        <div class="col"></div>
        <div class="col text-right">
            <button class="btn btn-success" (click)="open(contentNew, null)"><fa-icon [icon]="faPlusCircle"></fa-icon> Add New Ambassadors</button>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-light table-hover">
            <thead>
                <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">FIRST</th>
                    <th scope="col">LAST</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">CODE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let amb of ambassadors">
                    <!-- <th scope="row">{{ amb.id }}</th> -->
                    <td>{{ amb.first }}</td>
                    <td>{{ amb.last }}</td>
                    <td>{{ amb.phone }}</td>
                    <td>{{ amb.email }}</td>
                    <td>{{ amb.code }}</td>
                    <td>
                        <button class="btn btn-info" (click)="open(contentEdit, amb)">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>&nbsp;
                        <button class="btn btn-danger" (click)="open(contentDelete, amb)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #contentDelete let-modal>
    <div class="modal-header bg-danger">
        <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            Are you sure you want to delete <strong>{{ modamb.first }} {{modamb.last}}</strong>?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="delete(modamb.id); modal.close()">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">No</button>
    </div>
</ng-template>


<ng-template #contentEdit let-modal>
    <div class="modal-header bg-info">
        <h4 class="modal-title" id="modal-basic-title">{{ modamb.first }} {{ modamb.last }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form [formGroup]="ambassadorForm" (ngSubmit)="onUpdate(modamb.id)">

                <!-- First Name -->
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="first" class="form-control" [value]="modamb.first" required />
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="last" class="form-control" [value]="modamb.last" required />
                </div>

                <!-- Phone field -->
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" formControlName="phone" class="form-control" [value]="modamb.phone" required />
                </div>

                <!-- Email field -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [value]="modamb.email" required />
                </div>

                <!-- Create event button -->
                <div class="form-group">
                    <button class="btn btn-outline-primary">Update Ambassador</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Done</button>
    </div>
</ng-template>


<!-- Create New Modal -->
<ng-template #contentNew let-modal>
    <div class="modal-header bg-success">
        <h4 class="modal-title" id="modal-basic-title">Create an Ambassador</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form [formGroup]="ambassadorForm" (ngSubmit)="onSubmit()">

                <!-- First Name -->
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="first" class="form-control" required />
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="last" class="form-control" required />
                </div>

                <!-- Phone field -->
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" formControlName="phone" class="form-control" required />
                </div>

                <!-- Email field -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" required />
                </div>

                <!-- Create event button -->
                <div class="form-group">
                    <button class="btn btn-outline-primary" *ngIf="ambassadorForm.valid">Create Ambassador</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>