html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav-item>button,
.drop>button {
    color: rgb(161, 161, 161);
}

.nav-item>button:hover,
.drop>button:hover {
    color: rgb(255, 255, 255);
}

#main-menu {
    background-color: #fff;
    position: absolute;
    z-index: 999;
}

#main {
    width: 100%;
    height: 75%;
}

.about li {
    /* list-style: none; */
    padding: 5px 0px;
    line-height: 2em;
}

.footer {
    background-color: #000;
    color: #ccc;
    font-size: .7em;
    padding: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: rgb(80, 182, 241);
    font-size: 1em;
    cursor: pointer;
}

.footer a:hover {
    color: white;
}