<div class="container">
    <div class="row justify-content-lg-center">
        <div>
            <h3>How It Works</h3>
        </div>
    </div>
    <div class="row justify-content-md-center col">
        <ul class="about">
            <li>
                <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - You have been presented with a membership card because one of our representatives felt you were the kind of socialite we would like to welcome into our network.</li>
            <li>
                <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - Your temporary membership card is activated by visiting our site, clicking "register" and entering the access code on your card.</li>
            <li>
                <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - You will be taken to another screen which will ask for some additional information about you. After this, you will gain access to our private event listings.</li>
            <li>
                <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - Select the upcoming event you would like to attend and either pay for a single guest ticket or join the Secret Society as a member. Even if you select not to purchase a membership, your temporary membership enables you to
                still attend events at a guest's premium. We strive to provide a rich, fulfilling experience for our members and strongly encourage you to consider making the investment to become a Secret Society member.</li>
            <li>
                <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - Bring your NSS card and a valid state-issued driver's license, I.D. or passport to the event with you.</li>
            <li>
                <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon> - Bring your cellular device with you for ticket processing and membership verification.</li>
        </ul>
    </div>
</div>